<div class="container mx-auto p-4 min-h-screen">
  <%= breadcrumb %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">Contacts</h1>
    <div  data-controller="contacts--modal">
      <%= render(Button::New::UserContactComponent.new) %>
      <%= render(Modal::UserContactComponent.new(user_contact: @user_contact, url: app_contacts_path)) %>
    </div>
  </div>

  <%= turbo_stream_from "user_contacts_#{current_user.id}" %>
  <div
    id="user-contacts"
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <%= render(Card::UserContactComponent.with_collection(@user_contacts)) %>
  </div>
</div>
